<style type="text/css">
.table {
  border:1px solid black;
  width: 100%;
  height: 40px;
}
#player1, #player2{
  border-top:1px solid black;
  font-size: 20px;
  padding: 10px;
  width: 5%;
}
.lim {
  border-right: 2px solid red; 
  width: 1%;
}
.table td {
  width: 1%;
  border-bottom:1px solid black;
}
.table td.active {
  background-color: black;
  width: 1%;
}
#contador { 
  font-weight: bold;
  font-size: 25px; 
}
#quien_gana { 
  font-weight: bold;
  font-size: 25px;
  padding-left: 350px;
}
#table_showdata{
  width: 100%;
  height: 40px;
}
</style>








<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">¡RAYUELA!</h1>
    <button id="start_btn">Jugar</button><br><br>
    <table id="table_showdata">
    <tr>
        <td>
          <strong><div id="contador"></div></strong>
        </td>
        <td>
          <strong><div id="quien_gana"></div></strong>
        </td>
    </tr>
    </table>
    <table class="table">
      <tr id="Player1">
        <td id="player1"><strong>Jugador 1</strong></td>
        <td class="active0"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lim"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr id="Player2">
        <td id="player2"><strong>Jugador 2</strong></td>
        <td class="active0"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lim"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
</table>